<div class="row">
  <div class="col-md-5">
    <h2>Students</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let student of students"
        (click)="selectStudent(student)"
        [class.active]="student === selectedStudent">
        {{student.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewStudent()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <contact-details
      [student]="selectedStudent"
      [createHandler]="addStudent"
      [updateHandler]="updateStudent"
      [deleteHandler]="deleteStudent">
    </contact-details>
  </div>
</div>
